[rootpath]
path = /Users/lfzyx/Git/python-simpletool/

[docBase]
path = /Users/lfzyx/Git/python-simpletool/

[jdbc.properties]
srcpath = /Users/lfzyx/Git/python-simpletool/
dstpath = /Users/lfzyx/Git/python-simpletool/conf/

[redis.properties]
srcpath = /Users/lfzyx/Git/python-simpletool/
dstpath = /Users/lfzyx/Git/python-simpletool/conf/

[hx_config.properties]
srcpath = /Users/lfzyx/Git/python-simpletool/
dstpath = /Users/lfzyx/Git/python-simpletool/conf/
